torch==2.4.1+cu121 --index-url https://download.pytorch.org/whl/cu121
torchvision==0.19.1
diffusers==0.24.0
transformers==4.33.3
huggingface_hub==0.19.4
accelerate==1.0.1
safetensors==0.5.3
Pillow>=9.5.0
numpy==1.24.4
scikit-learn
scipy
torch-fidelity
lpips
pandas
PyYAML==6.0.3
tqdm
